<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Plant Differntiation view table</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href='{% static "tables/images/icons/favicon.ico" %}'/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/bootstrap/css/bootstrap.min.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href='{% static "tables/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/animate/animate.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/select2/select2.min.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/perfect-scrollbar/perfect-scrollbar.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/css/util.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "tables/css/main.css" %}'>
  <!--===============================================================================================-->

</head>

<body>


<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
      <tr class="row100 head">
        <th style="width:2%"></th>
        <th style="width:13%">Product Name</th>
        <th style="width:15%">Product Category</th>
        <th style="width:10%">Product Image</th>
        <th style="width:10%">Product Price/Quantity<br></th>
        <th style="..."></th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <tbody>
      {% for i in farmerviewdata %}
      <tr class="row100 body">
        <td style="width:2%"></td>
        <td style="width:13%">{{i.productname}}</td>
        <td style="width:15%">{{i.Productcategory}}</td>
        <td style="width:10%"><img src="{{i.productimage.url}}" height="100" width="100"><br></td>
        <td style="width:10%">{{i.productprice_qty}}</td>
        <td></td>
<!--        <td style="color=blue">-->
<!--          <a href="/product/delete/{{i.id}}">delete</a></td>-->
      </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

</div>


<!--===============================================================================================-->
<script src='{% static "tables/vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "tables/vendor/bootstrap/js/popper.js" %}'></script>
<script src='{% static "tables/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "tables/vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "tables/vendor/perfect-scrollbar/perfect-scrollbar.min.js" %}'></script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});





</script>
<!--===============================================================================================-->
<script src='{% static "tables/js/main.js" %}'></script>

</body>
</html>