<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Plot for rent</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href='{% static "tables/images/icons/favicon.ico" %}'/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/bootstrap/css/bootstrap.min.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href='{% static "tables/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/animate/animate.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/select2/select2.min.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/vendor/perfect-scrollbar/perfect-scrollbar.css" %}'>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{% static "tables/css/util.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "tables/css/main.css" %}'>
  <!--===============================================================================================-->

</head>

<body>


<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
      <tr class="row100 head">
        <th style="width:2%">farmer name</th>
        <th style="width:15%">phone</th>
        <th style="width:10%">plot place</th>
        <th style="width:10%">Plot acres<br></th>

      </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <tbody>
      {% for i in viewdata %}
      <tr class="row100 body">
        <td style="width:2%">{{i.farmername}}</td>
        <td style="width:15%">{{i.phone}}</td>
        <td style="width:10%">{{i.plotplace}}<br></td>
        <td style="width:10%">{{i.plotacres}}</td>
      </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

</div>


<!--===============================================================================================-->
<script src='{% static "tables/vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "tables/vendor/bootstrap/js/popper.js" %}'></script>
<script src='{% static "tables/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "tables/vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "tables/vendor/perfect-scrollbar/perfect-scrollbar.min.js" %}'></script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});





</script>
<!--===============================================================================================-->
<script src='{% static "tables/js/main.js" %}'></script>

</body>
</html>