<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>plot</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href='{% static "product/fonts/material-icon/css/material-design-iconic-font.min.css" %}'>

    <!-- Main css -->
    <link rel="stylesheet" href='{% static "product/css/style.css" %}'>
</head>
<body>
<h2 align="right" style="color:blue;"><a href="{% url 'farmer_view_plot' %}">view  plots for rent</a></h2>
<h2 align="right" style="color:blue;"><a href="{% url 'farmer_view_plot' %}">view  my plot for rent</a></h2>
<div class="main">

    <div class="container">
        <div class="booking-content">
            <div class="booking-image">
                <img class="booking-img" src='{% static "product/images/pri2.jpg" %}' alt="Booking Image">
            </div>
            <div class="booking-form">
                <form id="booking-form" method="post" enctype="multipart/form-data" action="{% url 'farmer_plot_save' %}">
                    {% csrf_token %}
                    <h2>Add Your Products </h2>
                    <div class="form-group form-input">
                        <input type="text" name="fname" value="{{request.session.farmer_name}}" required/>

                        <label class="form-label">Your Name</label>

                    </div>
                    <br>
                    <br>
                    <div class="form-group form-input">
                        <input type="text" name="phn" required/>

                        <label class="form-label">Phone</label>

                    </div>
                    <br>
                    <br>
                    <div class="form-group form-input">
                        <input type="text" name="pplace" value="" required/>
                        <label class="form-label">Plot place</label>
                    </div>
                    <br>
                    <br>

                    <br>


                    <div class="form-group form-input">
                        <input type="text" name="pac" value="" required/>
                        <label class="form-label">Plot acres</label>
                    </div>
                    <br>
                    <br>


                    <div class="form-submit">
                        <input type="submit" value="ADD " class="submit" id="submit" name="submit"/>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- JS -->
<script src='{% static "product/vendor/jquery/jquery.min.js" %}'></script>
<script src='{% static "product/js/main.js" %}'></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>